@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.container{
    position: relative;
}
  .slider {
    width: 320px;
    height: 450px;
    position: relative;
  }
  
  .slider img {
    pointer-events: none;
  }
  .wrapper {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 450px;
    z-index: 1;
}
.slides {
    display: flex;
    position: relative;
    top: 0;
    left: -320px;
    width: 10000px;
}
.slides.shifting {
    transition: left 0.2s ease-out;
}
.slide {
    width: 320px;
    height: 450px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    border-radius: 2px;
}
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.prev, .next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -20px;
}
.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -20px;
}
.prev:active, .next:active {
    transform: scale(0.8);
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #272727;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
}
.container .green::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D1D540;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .green:hover::before{
    clip-path: circle(300px at 80% -20%);
}
.container .white::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .white:hover::before{
    clip-path: circle(300px at 80% -20%);
}
.container .pink::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e91e63;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}
.container .pink:hover::before{
    clip-path: circle(300px at 80% -20%);
}
.container .card::after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: #ffffff33;
}
.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 300px;
}
.container .card .contentBx{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 10;
    transition: 1s;
}
.container .card:hover .contentBx{
    height: 210px;
}
.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .card .contentBx .size,
.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 2px;
}
.container .card .contentBx .size span:hover{
    background: #9bdc28;
}
.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
}
.container .green .contentBx .color span:nth-child(2){
    background: #D1D540;
    border: 3px dotted #fff;
    box-sizing: border-box;
}
.container .green .contentBx .color span:nth-child(3){
    background: #fff;
}
.container .green .contentBx .color span:nth-child(4){
    background: #e91e63;
}
.container .white .contentBx .color span:nth-child(2){
    background: #D1D540;
}
.container .white .contentBx .color span:nth-child(3){
    background: #fff;
    border: 3px dotted #000;
    box-sizing: border-box;
}
.container .white .contentBx .color span:nth-child(4){
    background: #e91e63;
}
.container .pink .contentBx .color span:nth-child(2){
    background: #D1D540;
}
.container .pink .contentBx .color span:nth-child(3){
    background: #fff;
}
.container .pink .contentBx .color span:nth-child(4){
    background: #e91e63;
    border: 3px dotted #fff;
    box-sizing: border-box;
}
.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}